<div id="user-chat-box">

    <div class="chat-icon" id="chatIcon">
        <img src="/images/chatbot.jpg" alt="Chat Icon" width="50px" height="50px" style="border-radius: 50%;">
    </div>
    
    <div class="chat-window" id="chatWindow">
        <div class="chats">
            <p class="user-chat">Hello!!!</p>
            <p class="other-user-chat">Hey there! How can I help you today?</p>
            <p class="user-chat">Hello!!!</p>
            <p class="other-user-chat">Hey there! How can I help you today?</p>
            <p class="user-chat">Hello!!!</p>
            <p class="other-user-chat">Hey there! How can I help you today?</p>
        </div>
        <div id="chat-input">
            <input type="text" id="chat-text" placeholder="Type here...">
            <button id="chat-button" type="button">Sent</button>
        </div>
    </div>
</div>