<link rel="stylesheet" href="/css/home.css">

<h2>
    Welcome <%=locals.user.name%>
</h2>

<div id="home-container">

    <section id="post-container">
        <form action="/post/create-post" id="new-post-form" method="post">
            <textarea name="content" cols="50" rows="3" placeholder="Type here..." required></textarea>
            <button type="submit">Post</button>
        </form>

        <div id="post-list-container">
            <ul>
                <!-- Post incertion from front end JS file to avoid reloading of page everytime -->
                <%for (post of posts){%>
                    <%- include('_Apost') %>
                <%}%>
            </ul>
        </div>
    </section>


    <section id="friend-container">
        <h4>Friends</h4>
        <%for(let user of users){%>
            <%if(user.id !=locals.user.id){%>
                <a href="/user/profile/<%=user.id%>">
                    <p>
                        <%=user.name%>
                    </p>
                </a>
            <%}%>

        <%}%>
    </section>

</div>

<!-- <script src="/js/home_comment.js"></script> -->
<script src="/js/home.js"></script>