<link rel="stylesheet" href="/css/home.css">
<h1>
    User Home View / Codeial
</h1>
<h4>
    Welcome <%=user.name%>
</h4>

<form action="/post/create-post" id="post-feed" method="post">
    <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
    <button type="submit">Post</button>
</form>
